# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=myquizz_db
DB_POOL_MAX=20   
DB_IDLE_TIMEOUT=30000
DB_CONNECTION_TIMEOUT=5000
# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=12345678
# JWT
JWT_SECRET=12345678
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=12345678
JWT_REFRESH_EXPIRES_IN=7d
# CORS
FRONTEND_URL=https://localhost:3000
ALLOW_ORIGIN=http://localhost:3000,http://localhost:5173
# Server
PORT=3000
NODE_ENV=development
# Cloud
SPACES_ACCESS_KEY=your_access_key_here
SPACES_SECRET_KEY=your_secret_key_here
SPACES_ENDPOINT=endpoint_url_here
SPACES_BUCKET=bucket_name_here
SPACES_REGION=region_here
SPACES_PUBLIC_URL=space_public_url_here